<app-page-heading [heading]="pageHeading"></app-page-heading>

<div class="row">
  <div class="col-sm-6">
    <app-card appClass="border-left-success">
      <div appCardBody>
        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
          Filter:
        </div>
        <div class="mb-0 font-weight-bold text-gray-800">
          <div>
            <button
              class="btn btn-outline-info"
              (click)="toggleIslandsOnly()"
              [class.active]="(state$ | async)?.islandsOnly"
            >
              Islands Only
            </button>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <i class="fas fa-calendar fa-2x text-gray-300"></i>
      </div>
    </app-card>
  </div>
  <div class="col-sm-6">
    <app-card appClass="border-left-info">
      <div appCardBody>
        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
          Sort By:
        </div>
        <div class="mb-0 font-weight-bold text-gray-800">
          <button
            class="btn btn-outline-info mr-3"
            [class.active]="(state$ | async)?.borderSort !== 0"
            (click)="toggleBorderSort()"
          >
            # Borders {{ getSortText((state$ | async)?.borderSort) }}
          </button>

          <button
            class="btn btn-outline-info mr-3"
            [class.active]="(state$ | async)?.populationSort !== 0"
            (click)="togglePopulationSort()"
          >
            Population {{ getSortText((state$ | async)?.populationSort) }}
          </button>
         
          <button
            class="btn btn-outline-info"
            [class.active]="(state$ | async)?.areaSort !== 0"
            (click)="toggleAreaSort()"
          >
            Area {{ getSortText((state$ | async)?.areaSort) }}
          </button>
        </div>
      </div>
      <div class="col-auto">
        <i class="fas fa-calendar fa-2x text-gray-300"></i>
      </div>
    </app-card>
  </div>
</div>

<div class="row">
  <div class="col-xl-3 col-md-6">
    <app-card appClass="border-left-primary">
      <div appCardBody>
        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
          Displaying:
        </div>
        <div class="h5 mb-0 font-weight-bold text-gray-800">
          {{ (countries$ | async)?.length }} of
          {{ (filteredCountries$ | async)?.length }} countries
        </div>
      </div>
      <div class="col-auto">
        <i class="fas fa-calendar fa-2x text-gray-300"></i>
      </div>
    </app-card>
  </div>
</div>

<div class="row">
  <div
    class="col-md-6 col-lg-3"
    *ngFor="let country of (countries$ | async); trackBy: trackByFn"
  >
    <app-country-card [country]="country"></app-country-card>
  </div>

  <div class="col-sm-12">
    <div class="text-center">
      <button class="btn btn-primary btn-lg" (click)="showMore()">
        show more
      </button>
    </div>
  </div>
</div>

<br />
<br />
<!-- <pre>{{ countries$ | async | json }}</pre> -->
