<!-- Sidebar - Brand -->
<a
  class="sidebar-brand d-flex align-items-center justify-content-center"
  href="index.html"
>
  <div class="sidebar-brand-icon rotate-n-15">
    <i class="fas fa-globe"></i>
  </div>
  <div class="sidebar-brand-text mx-3">Countries</div>
</a>

<!-- Divider -->
<hr class="sidebar-divider my-0" />

<ng-content></ng-content>

<!-- Nav Item - Dashboard -->

<li
  class="nav-item"
  *ngFor="let item of navItems"
  [class.active]="false"
  [ngSwitch]="item.type"
>
  <a
    *ngSwitchCase="'nav-item'"
    class="nav-link"
    [routerLink]="getNavItem(item).route"
    routerLinkActive="active"
  >
    <i class="fas fa-fw {{ getNavItem(item).icon }}"></i>
    <span>{{ getNavItem(item).text }}</span>
  </a>

  <hr *ngSwitchCase="'divider'" class="sidebar-divider" />

  <div *ngSwitchCase="'heading'" class="sidebar-heading">
    {{ getNavHeader(item).text }}
  </div>
</li>

<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline">
  <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>
